.toggle-nav {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.site-nav ul {
    padding: 0;
}

.site-nav li {
    display: block;
    list-style-type: none;
}

.site-nav a {
    display: block;
    padding: 0.5em 1em;
    text-decoration: none;
}


.header-nav {
    border-width: var(--sizing-basic-border) 0;
    border-style: solid;
    border-color: var(--color-basic-border);
}

.header-nav ul {
    margin: 0;
}

.header-nav > ul {
    padding-left: 0;
}

.header-nav a {
    color: var(--secondary-color);
}

.header-nav a:hover,
.header-nav a:focus {
    background-color: var(--secondary-color);
    color: var(--default-color);
    transition: background-color 0.3s ease-in;
}

.header-nav a:focus {
    text-decoration: underline;
}


.footer-nav {
    display: none;
}

/* Media Queries */
/* Mobile */
@media (max-width: 600px) {
    .header-nav > ul{
        display: none;
    }

    .header-nav ul ul li{
        padding-left: 1em;
    }

    .header-nav ul li:last-of-type {
        padding-bottom: 0;
    }

    .nav-toggle {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.2em;
        padding: 1em 2em;
        cursor: pointer;
        border-bottom: var(--sizing-basic-border) solid var(--color-basic-border);
    }

    .nav-toggle span.menu-dropdown {
        padding-left: 0.5em;
    }

    /* Menu */
    .nav-toggle i.nav-close {
        display: none;
    }

    .nav-toggle i.nav-open {
        display: block;
    }

    .toggle-nav:checked + .header-nav ul {
        display: block;
    }

    .toggle-nav:checked + .header-nav .nav-toggle i.nav-open {
        display: none;
    }

    .toggle-nav:checked + .header-nav .nav-toggle i.nav-close {
        display: block;
    }

    /* no select text */
    .noselect {
        user-select: none;
        -moz-user-select: none;
    }
}

/* Desktop */
@media (min-width: 601px) {

    .header-nav > ul,
    .footer-nav > ul {
        display: flex;
    }

    /*
     * Header navigation
     */
    .header-nav > ul {
        display: flex;
        padding-left: 0;
        position: relative;
    }

    .header-nav > ul ul li {
        margin-top: 0.5rem;
        border-radius: 0.3rem;
        overflow: hidden;
        box-shadow: inset 0 0.3rem 0.5rem 0.5rem rgba(0,0,0,0.3);
        background-color: var(--primary-color-rgba);
    }

    .header-nav li:hover > ul{
        opacity: 0.9;
        pointer-events: all;
        transform: rotate3d(0, 0, 0, 0);
    }

    .header-nav > ul ul {
        display: block;
        position: absolute;
        padding-left: 0;
        z-index: 200;
        opacity: 0;
        pointer-events: none;
        transform: rotate3d(0, 1, 0, 3.142rad);
        transition: opacity 0.2s ease-in, transform 0.3s ease-out;
        /*border-bottom-left-radius: 0.3rem;*/
        /*border-bottom-right-radius: 0.3rem;*/
        overflow: hidden;
    }

    .header-nav > ul ul a {
        padding: 1em 2.5em 1em 1em;
    }

    .nav-toggle {
        display: none;
    }

    /*
     * Footer navigation
     */
    .footer-nav {
        display: block;
        /*overflow: hidden;*/
    }

    .footer-nav ul {
        align-items: start;
    }

    .footer-nav li {
        position: relative;
    }

    .footer-nav ul ul {
        display: none;
        margin: 0;
        position: absolute;
        top: 0;
        left: 0;
    }

    .footer-nav li {
        background: linear-gradient( var(--footer-color, #333), #900);
    }

    .footer-nav li:hover > ul {
        display: block;
        animation: show-nav;
        animation-duration: 0.3s;
        animation-fill-mode: both;
        animation-timing-function: ease-in-out;
    }

    .footer-nav a {
        color: #000;
    }

    .footer-nav a:hover {
        color: #FFF;
        background: linear-gradient(#000, var(--footer-color, #000));
    }

    @keyframes show-nav {
        0% {
            transform: translateY(-50%);
        }

        50% {
            transform: translateY(-100%);
        }

        60% {
            transform: translateY(-130%);
        }

        70% {
            transform: translateY(-90%);
        }

        80% {
            transform: translateY(-120%);
        }

        90% {
            transform: translateY(-95%);
        }

        100% {
            transform: translateY(-100%);
        }
    }
}