.site-footer {
    color: var(--default-color);
    background-color: var(--footer-color);
    padding: 0.5em;
}

.site-footer p.con-state {
    font-size: 0.8em;
    color: var(--default-color);
    font-style: italic;
    opacity: 0.6;
}