@import url('typography.css');
@import url('variables.css');
@import url('reset.css');

body {
    background-color: var(--color-main-bgrd, #000);
    color: var(--color-main-text, #FFF);
    padding: 3rem;
}