.toggle-nav {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.site-nav {
    border-width: var(--sizing-basic-border) 0;
    border-style: solid;
    border-color: var(--color-basic-border);
}

.site-nav ul {
    margin: 0;
}

.site-nav > ul {
    padding-left: 0;
}

.site-nav li {
    display: block;
    list-style-type: none;
}

.site-nav a {
    color: var(--secondary-color);
    display: block;
    padding: 0.5em 1em;
    text-decoration: none;
}

.site-nav a:hover,
.site-nav a:focus {
    background-color: var(--secondary-color);
    color: var(--default-color);
    transition: background-color 0.3s ease-in;
}

.site-nav a:focus {
    text-decoration: underline;
}


/* Mobile */
@media (max-width: 599px) {
    .site-nav > ul{
        display: none;
    }

    .site-nav ul ul li{
        padding-left: 1em;
    }

    .site-nav ul li:last-of-type {
        padding-bottom: 0;
    }

    .nav-toggle {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.2em;
        padding: 1em 2em;
        cursor: pointer;
        border-bottom: var(--sizing-basic-border) solid var(--color-basic-border);
    }

    .nav-toggle span.menu-dropdown {
        padding-left: 0.5em;
    }

    /* Menu */
    .nav-toggle i.nav-close {
        display: none;
    }

    .nav-toggle i.nav-open {
        display: block;
    }

    .toggle-nav:checked + .site-nav ul {
        display: block;
    }

    .toggle-nav:checked + .site-nav .nav-toggle i.nav-open {
        display: none;
    }

    .toggle-nav:checked + .site-nav .nav-toggle i.nav-close {
        display: block;
    }

    /* no select text */
    .noselect {
        -webkit-user-select: none;
            -ms-user-select: none;
                user-select: none;
        -moz-user-select: none;
    }
}

/* Desktop */
@media (min-width: 600px) {
    .site-nav > ul {
        display: flex;
    }

    .site-nav > ul {
        display: flex;
        padding-left: 0;
        position: relative;
    }

    .site-nav li:hover > ul{
        opacity: 0.9;
        pointer-events: all;
        -webkit-transform: rotate3d(0, 0, 0, 0);
                transform: rotate3d(0, 0, 0, 0);
    }

    .site-nav > ul ul {
        background-color: var(--primary-color);
        display: block;
        padding-left: 0;
        position: absolute;
        z-index: 200;
        opacity: 0;
        pointer-events: none;
        -webkit-transform: rotate3d(0, 1, 0, 3.142rad);
                transform: rotate3d(0, 1, 0, 3.142rad);
        transition: opacity 0.2s ease-in, -webkit-transform 0.3s ease-out;
        transition: opacity 0.2s ease-in, transform 0.3s ease-out;
        transition: opacity 0.2s ease-in, transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
        border-bottom-left-radius: 0.3rem;
        border-bottom-right-radius: 0.3rem;
        box-shadow: 0 0.3rem 0.5rem 0.5rem rgba(0,0,0,0.3);
        overflow: hidden;
    }

    .site-nav > ul ul a {
        padding: 1em 2.5em 1em 1em;
    }

    .nav-toggle {
        display: none;
    }
}
